*.cache
*.json
Makefile*
Debug/
Release/
Output/
DebugStatic/
ReleaseStatic/
StaticRelease/
StaticDebug/
release/
debug/
Deploy/
GeneratedFiles/
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*~
*.a
*.o
*.axf
*.bin
*.map
.metadata/
*.sdf
*.opensdf
ipch/
*VC.db
*VC.opendb
*.xcf
